/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1.3;
}

/* .container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.5rem;
} */

section {
  padding: 7rem 0;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER STYLES */
/* HEADER STYLES */
/* HEADER STYLES */

header {
  width: 100%;
  background-color: #fff1e0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 7rem;
  padding: 0.5rem 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 1.6rem;
  padding: 0 1.5rem;
}

li a,
li a:visited,
li a:active {
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: #064b73;
  transition: all 0.5s;
}

li a:hover,
ul li .current {
  color: lawngreen;
  font-size: 1.8rem;
}

/* INTRO SECTION */
/* INTRO SECTION */
/* INTRO SECTION */
.intro-section {
  background: url(./images/1-bg.jpg) no-repeat center;
  background-size: cover;
  height: 60vh;
}

.intro {
  width: 50%;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 5rem 2rem;
  border-radius: 3px;
}

.intro .intro-text {
  color: rgb(255, 68, 0);
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.p-head {
  font-size: 2.8rem;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.p-head span {
  display: block;
}

.white-text {
  color: white;
  margin-bottom: 2.5rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(255, 68, 0);
  padding: 0.8rem 1.6rem;
  border-radius: 3px;
  background: transparent;
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: orangered;
  color: black;
  font-size: 1.7rem;
  border: none;
}

/* ABOUT SECTION */
/* ABOUT SECTION */
/* ABOUT SECTION */
.about-section {
  background-color: #fff1e0;
}

.about {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  /* display: flex; */
  align-items: center;
}

.about img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.s-head {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* // MENU SECTION */
/* // MENU SECTION */
/* // MENU SECTION */
.menu-heading {
  text-align: center;
}

.menu-items {
  display: flex;
}

.menu-item {
  width: 100%;
  margin: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
}

.menu-item img {
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
}

.card-text {
  padding: 1rem;
}

.t-head {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card-text p {
  font-size: 1.3rem;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  background: url(./images/bg-3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.testimonial-box {
  width: 60%;
  text-align: center;
  padding: 5rem 0;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 5px;
}

.testimonial-box img {
  width: 20%;
  border-radius: 50%;
}

.testimonial-box p {
  margin: 0 1rem;
}

.q-head {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  margin-bottom: .5rem;
}

/* ORDER SECTION */
/* ORDER SECTION */
/* ORDER SECTION */
.order-section {
  background-color: #eee;
}

.orders {
  width: 75%;
  margin: 0 auto;
  padding: 1rem 0;
}

.order-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
}

.order-item {
  width: 70%;
  display: flex;
  align-items: center;
}

.order-item img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.order-price {
  height: 100%;
}

.order-price p {
  font-weight: 500;
  padding-bottom: 2rem;
}

.btn-solid {
  background-color: orangered;
  padding: .8rem 1rem;
}

/* FOOTER SECTION */
/* FOOTER SECTION */
/* FOOTER SECTION */
footer {
  background-color: #fff1e0;
  padding: 1.5rem 0;
}

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links ul li a {
  color: black;
}

.footer p {
  color: black;
}





/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  /* INTRO SECTION */
  .intro {
    width: 100%;
  }

  /* ABOUT SECTION */
  .about {
    width: 100%;
  }

  /* MENU ITEMS */
  .menu-items {
    flex-direction: column;
    align-items: center;
  }

  /* TESTIMONIAL SECTION */
  .testimonial-box {
    width: 90%;
  }

  /* ORDER SECTION */
  .orders {
    width: 100%;
  }

  .order-box {
    padding: 0.5rem;
  }

  .order-text p {
    font-size: 1.2rem;
  }

  /* FOOTER SECTION */
  .footer {
    flex-direction: column;
  }

  .footer p {
    margin-top: 1rem;
  }
}
